<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Algorithm Logs</title>
    <link rel="stylesheet" href="/static/AlgorithmLogs/styles.css" />
</head>
<body>
    <div class="inline">
        <h1><span id="algorithm-name"></span> Logs</h1>

        <button id="refresh-btn">Refresh Logs</button>
    </div>
    <div class="code">
        <span id="logs-display">Your logs are empty for now.</span>
    </div>
    <script src="/static/AlgorithmLogs/AlgorithmLogs.tsx"></script>
</body>
</html>